<div class="service-name py-2">
  <div class="container">
    <h2>My Profile</h2>
  </div>
</div>

<div class="container my-3">
  <div class="row">
    <div class=" col-xs-4 col-md-4 col-lg-4 mb-3">
      <div class="row my-3">
        {{#if account.image}}
        <img class="circle" src="/images/user/{{account.id}}" width="180" height="180" /> {{else}}
        <img class="circle" src="/images/user.png" width="180" height="180" /> {{/if}}
      </div>
      <div class="row my-3">
        <form enctype="multipart/form-data" action="/images/user/{{account.id}}" method="POST" class="btn-under-pic">
          <span id="profile-upload-btn" class="fa-stack fa-lg mx-1" style="cursor:pointer;">
            <i class="text-red fa fa-circle fa-stack-2x"></i>
            <i class="text-white fa fa-upload fa-stack-1x"></i>
          </span>
          <input id="profile-upload" name="userFile" type="file" style="display:none;">
          <button type="submit" class="btn btn-danger">Upload</button>
        </form>
      </div>
    </div>


    <form action="/update" method="POST" class="col-xs-8 col-md-8 col-lg-8 my-3">
      <div class="input-field">
        <label for="Name">First name</label>
        <input class="form-control" type="text" name="fname" value="{{account.fname}}" required>
      </div>
      <div class="input-field">
        <label for="Lname">Last name</label>
        <input class="form-control" type="text" name="lname" class="validate" value="{{account.lname}}" required>
      </div>
      <div class="input-field">
        <label for="email">E-mail</label>
        <input class="form-control" disabled type="email" value="{{account.email}}" class="validate">
      </div>
      <div class="input-field">
        <label for="number">Phone Number</label>
        <input class="form-control" type="text" name="phone" class="validate" value="{{account.phone}}" required pattern="\d{1,10}" title="Please type only 10 digits number">
      </div>
      <div class="mt-3">
        <button type="submit" class="btn btn-danger">Save</button>
      </div>
    </form>

  </div>
</div>

</div>
