<div class="service-name py-2">
  <div class="container">
    <h2 class="py-1 my-0">My Reservation</h2>
  </div>
</div>

<div class="container my-3">
  <div class="row d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-danger" href="/profile">My Profile</a>
      <a class="btn btn-danger" href="/reservation">My Reservation</a>
    </div>
  </div>
  <table class="table table-hover mx-auto my-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Reservation ID</th>
        <th scope="col">Service ID</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>
          <a href="/reservation/{{reserve.rid}}">{{reserve.id}} Test ID</a>
        </td>
        <td>
          <a href="/service/{{reserve.sid}}">{{reserve.id}} Test ID</a>
        </td>
        {{#if reserve.isPaid}}
        <td>Paid</td>
        {{else}}
        <td class="text-red">Not Paid</td>
        {{/if}} {{#if reserve.isPaid}} {{#if reserve.isReview}}
        <a href="/review/{{reserve.sid}}">
          <i class="fa fa-commenting" aria-hidden="true"></i>
          </i> Click to pay</a>
        {{else}}
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Thank you for your comment.
        {{/if}} {{else}}
        <td>
          <a href="/checkout/{{reserve.rid}}">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Click to pay</a>
        </td>
        {{/if}}
      </tr>
      
    </tbody>
  </table>
</div>