<div class="service-name py-2">
  <div class="container">
    <h2 class="py-1 my-0">My Reservation</h2>
  </div>
</div>

<div class="container my-3">
  <div class="row d-flex justify-content-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <a class="btn btn-danger" href="/profile">My Profile</a>
      <a class="btn btn-danger" href="/reservation">My Reservation</a>
    </div>
  </div>
  {{#if account.reservations}}
  <table class="table table-hover mx-auto my-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Reservation ID</th>
        <th scope="col">Service ID</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each account.reservations}}
      <tr>
        <th scope="row">{{math @index "+" 1}}
        </th>
        <td>
          <a href="/reservation/{{this.rid}}">{{this.rid}}</a>
        </td>
        <td>
          <a href="/service/{{this.sid}}">{{this.sname}}</a>
        </td>
        {{#if this.isPaid}}
        <td class="available">Paid</td>
        {{else}}
        <td class="text-red">Not Paid</td>
        {{/if}} {{#if this.isPaid}} {{#if this.isReview}}
        <td>
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Thank you for your comment.
        </td>
        {{else}}
        <td>
          <a href="/review/{{this.sid}}">
            <i class="fa fa-commenting" aria-hidden="true"></i>
            </i> Click to review</a>
        </td>
        {{/if}} {{else}}
        <td>
          <a href="/checkout/{{reserve.rid}}">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i> Click to pay</a>
        </td>
        {{/if}}
        <td>{{#unless this.isPaid}}
          <a class="text-dark" href="/delete/{{this.rid}}/{{this.sid}}">
            <i class="text-red fa fa-times" aria-hidden="true"></i>
          </a>
          {{/unless}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{else}}
  <h3 class="text-center my-5">You have not reservation history</h3>
  {{/if}}
</div>