<div class="main">
  <div class="service-name">{{service.name}} Test name</div>
  <div class="container">
    <div class="service-status"></div>
    <div class="service-images"></div>
    <div class="service-detail"></div>
    <div class="service-review">
      <div class="review-header">
        <h2>Review</h2>
        <span class="rate-tag">
          {{#times service.fullstar}}
          <i class="fa fa-star mx-0 px-0" aria-hidden="true"></i>
          {{/times}} {{#times service.halfstar}}
          <i class="fa fa-star-half-o  mx-0 px-0" aria-hidden="true"></i>
          {{/times}} {{#times service.emptystar}}
          <i class="fa fa-star-o mx-0 px-0" aria-hidden="true"></i>
          {{/times}}
        </span>
        <hr> {{#each service.review}}
        <div class="review">
          <div class="reviewer-info">
            <div><img src="{{this.image}}"></div>
            <button class="btn btn-danger">Report</button>
          </div>
          <div class="reviewer-review">
            <h4>{{this.name}}</h4>
            <p>
              <span class="rate-tag">
                {{#times this.fullstar}}
                <i class="fa fa-star mx-0 px-0" aria-hidden="true"></i>
                {{/times}} {{#times this.halfstar}}
                <i class="fa fa-star-half-o  mx-0 px-0" aria-hidden="true"></i>
                {{/times}} {{#times this.emptystar}}
                <i class="fa fa-star-o mx-0 px-0" aria-hidden="true"></i>
                {{/times}}
              </span>
            </p>
            <p class="reviewer-comment">{{this.comment}}</p>
            <p class="reviewer-date">{{this.date}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>