<div class="main">
  <div class="service-name py-2">
    <div class="container">
      <h1>{{service.name}}</h1>
    </div>
  </div>
  <div class="container mt-5">
    <div class="service-status">
      <i class="fa fa-circle {{service.status}}" aria-hidden="true"></i> {{service.status}} {{#eq service.status "available"}}
      <small id="statusHelp" class="form-text text-muted">You can book and checkout this service.</small>
      {{/eq}}{{#eq service.status "busy"}}
      <small id="statusHelp" class="form-text text-muted">You can only book this service.</small>
      {{/eq}}
    </div>
    <div class="service-images">
      <div class="slick-center">
        <div class="slick-image" style="background: url(/images/index_images/bg1.jpg) center center / cover;">
          </div>
          <div class="slick-image" style="background: url(/images/index_images/bg1.jpg) center center / cover;">
          </div>
          <div class="slick-image" style="background: url(/images/index_images/bg1.jpg) center center / cover;">
          </div>
          <div class="slick-image" style="background: url(/images/index_images/bg1.jpg) center center / cover;">
          </div>
      </div>
    </div>
    <div class="service-detail"></div>
    <div class="service-review">
      <div class="review-header">
        <h2>Review</h2>
        <span class="rate-tag">
          {{#times service.fullstar}}
          <i class="fa fa-star mx-0 px-0" aria-hidden="true"></i>
          {{/times}} {{#times service.halfstar}}
          <i class="fa fa-star-half-o  mx-0 px-0" aria-hidden="true"></i>
          {{/times}} {{#times service.emptystar}}
          <i class="fa fa-star-o mx-0 px-0" aria-hidden="true"></i>
          {{/times}}
        </span>
        <hr> {{#each service.review}}
        <div class="review">
          <div class="reviewer-info">
            <div>
              <img src="{{this.image}}">
            </div>
            <button class="btn btn-danger">Report</button>
          </div>
          <div class="reviewer-review">
            <h4>{{this.name}}</h4>
            <p>
              <span class="rate-tag">
                {{#times this.fullstar}}
                <i class="fa fa-star mx-0 px-0" aria-hidden="true"></i>
                {{/times}} {{#times this.halfstar}}
                <i class="fa fa-star-half-o  mx-0 px-0" aria-hidden="true"></i>
                {{/times}} {{#times this.emptystar}}
                <i class="fa fa-star-o mx-0 px-0" aria-hidden="true"></i>
                {{/times}}
              </span>
            </p>
            <p class="reviewer-comment">{{this.comment}}</p>
            <p class="reviewer-date">{{this.date}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>